.chat span {
  font-size: 0.8em;
  color: #333;
  position: absolute;
  top: 0;
  right: 10px;

}
.chat{
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
 

    
 
}
.chat img{
    object-fit: contain;
    border-radius: 50%; 
    margin-right: 10px;

}
.msg{

  position: absolute;
    top: 40px;
    left: 60px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   
    
}